WHATSAPP_ACCESS_TOKEN=EAAUYmLnKAm8BOZBkOWjZBAd2qSlZBIizvVts7xMQRfrMQHLuFAuZA3pRHU3kyClSxSK0AYw2vSSf0gxG3XdbmsCUUPDMjsuq1dzZBUkioJQEqonMJt20sSXAVkSm98zar5jwBO9hwH83nNYcMOhiYWj1nbfKZA5ZCsWWk5P4dfj99zQhWJTK99M7dzudnEPubi4FgZDZD
WHATSAPP_PHONE_ID=581279598394878
PORT=3001
VERIFY_TOKEN=optimus9021
MONGO_URI=mongodb+srv://ismaianugrah:optimus9021@cluster0.lwrui.mongodb.net/
GEMINI_API_KEY=AIzaSyD1HrEnUXwCm-5Tr-XVc1x9Gc0SpkRz9Kc
OPENAI_API_KEY=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
BASE_URL=https://f518-182-253-124-151.ngrok-free.app
AI_CONTEXT_READER=true
MAX_REPORT_PER_DAY=500